* {
	margin: 0;
	padding: 0;
}

body{
	background-image: url('BG.jpg');
	background-size: cover;
    background-repeat: repeat;
    
    font-family: 'Pacifico', cursive;
    color: white;

    
}

.navbar-light.bg-light
{
	background-color:  #4169E1 !important;
}