* {
	margin: 0;
	padding: 0;
}

body{
	background-image: url('BG.jpg');
	background-size: cover;
    background-repeat: repeat;
    
    font-family: 'Pacifico', cursive;
    color: white;
    
}

.card-container {
            display: flex; /* Per posizionare le card in linea */
            flex-wrap: wrap; /* Per andare a capo se non c'è spazio */
            gap: 20px; /* Spaziatura tra le card */
            justify-content: center; /* Per centrare le card orizzontalmente */
            padding: 20px; /* Spaziatura interna al contenitore */
        }

.navbar-light.bg-light
{
	background-color:  #4169E1 !important;
}